
@{
    ViewBag.Title = "CustomVariables";
}

<h2>CustomVariables</h2>

<p>This page originated from</p>
<ul>
    <li>Controller: @ViewBag.Controller</li>
    <li>Action: @ViewBag.Action</li>
    <li>ID: @ViewBag.IdValue</li>
    <li>Name: @ViewBag.NameValue</li>
</ul>