@model ModelBindingSample.Models.BirthdayPerson

@{
    ViewBag.Title = "CustomBindingResult";
}

<h2>CustomBindingResult</h2>

<div>
    @Html.DisplayFor(m => m.FirstName)
</div>
<div>
    @Html.DisplayFor(m => m.LastName)
</div>
<div>
    @Html.DisplayFor(m => m.Birthday)
</div>