@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h2>Add a Person</h2>
        @using (Html.BeginForm("AddPerson", "Home", FormMethod.Post))
        {
            <p>
                <label>Person Id</label>
            </p>
            <p>
                <input type="text" id="PersonId" name="PersonId" />
            </p>
            <p>
                <label>First Name</label>
            </p>
            <p>
                <input type="text" id="FirstName" name="FirstName" />
            </p>
            <p>
                <label>LastName</label>
            </p>
            <p>
                <input type="text" id="LastName" name="LastName" />
            </p>
            <button>Save</button>
        }
        
    </div>
</div>