
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h3>We are going to have a LAN party! <small>register
            using the link below</small>
    </h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>@Html.ActionLink("Register Now - jQuery Unobtrusive", "RegistrationForm")</li>
            <li>@Html.ActionLink("Register Now - jQuery Validate", "RegistrationForm2")</li>
            
        </ul>
    </div>
</div>

