@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Appointment Booking</h2>
        <p>
            To book an appointment click the link below.
        </p>
        <p>@Html.ActionLink("Make Booking", "MakeBooking", "Home")</p>
    </div>
   
</div>