
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
@Html.ActionLink("Home Page", "Index", "Home")
<p>This is our about us page.  Isn't it cool?</p>

@section scripts
{
    <script>
        alert('Hello World!');
    </script>
}